.app {
  @apply relative z-0 p-0 m-0 bg-gray-200 text-gray-800 overflow-hidden;
  min-height: 100%;
  min-width: 100%;
  min-height: 100vh;
  min-width: 100vw;

  & > * {
    @apply flex items-start justify-start flex-wrap;
    max-width: 860px;
  }

  @screen dark-mode {
    & {
      @apply bg-gray-800 text-gray-500;
    }
  }
}

.footer {
  @apply m-auto p-6 text-xs;
  max-width: 860px;
  ul {
    @apply flex flex-row w-full;
  }

  li {
    @apply mr-4;
  }

  a {
    @apply border-0 font-semibold;
  }
}
